# ================================================
# media-service - Environment Variables
# ================================================
CONSUL_URL=http://localhost:8500

NODE_ENV=development-local
PORT=3010

DATABASE_URL=postgresql://user:password@localhost:5440/media_db
RABBITMQ_URL=amqp://localhost:5672

KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=luyen-thi-lai-xe-realm
KEYCLOAK_CLIENT_ID=nestjs-backend
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_TIMEOUT_MS=10000

STORAGE_ACCOUNT_NAME=change-me
STORAGE_ACCOUNT_KEY=change-me
STORAGE_CONTAINER_NAME=media
STORAGE_PRESIGNED_URL_EXPIRY=3600

LOGSTASH_HOST=127.0.0.1
LOGSTASH_PORT=5044
LOG_CONSOLE_FORMAT=json
