# ================================================
# docs-service - Environment Variables
# ================================================
CONSUL_URL=http://localhost:8500

NODE_ENV=development-local
PORT=3009
SERVICE_NAME=docs-service

SWAGGER_SERVICES=identity-service:3001,user-service:3002,exam-service:3003,course-service:3004,question-service:3005,notification-service:3006,analytics-service:3007,simulation-service:3008,media-service:3010,audit-service:3011

LOGSTASH_HOST=127.0.0.1
LOGSTASH_PORT=5044
LOG_CONSOLE_FORMAT=json
