# ================================================
# exam-service - Environment Variables
# ================================================
CONSUL_URL=http://localhost:8500

NODE_ENV=development
PORT=3003

DATABASE_URL=postgresql://user:password@localhost:5434/exam_db

RABBITMQ_URL=amqp://localhost:5672
