# ================================================
# exam-service - Environment Variables
# ================================================
CONSUL_URL=http://localhost:8500

NODE_ENV=development-local
PORT=3003

DATABASE_URL=postgresql://user:password@localhost:5434/exam_db
RABBITMQ_URL=amqp://localhost:5672

KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=luyen-thi-lai-xe-realm
KEYCLOAK_CLIENT_ID=nestjs-backend
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_TIMEOUT_MS=10000

QUESTION_SERVICE_URL=http://localhost:3005
QUESTION_SERVICE_TIMEOUT_MS=3000
USER_SERVICE_URL=http://localhost:3002
USER_SERVICE_TIMEOUT_MS=3000

LOGSTASH_HOST=127.0.0.1
LOGSTASH_PORT=5044
LOG_CONSOLE_FORMAT=json
