# ================================================
# user-service - Environment Variables
# ================================================
CONSUL_URL=http://localhost:8500

NODE_ENV=development-local
PORT=3002

DATABASE_URL=postgresql://user:password@localhost:5433/user_db

RABBITMQ_URL=amqp://localhost:5672
