# ================================================
# course-service - Environment Variables
# ================================================
CONSUL_URL=http://localhost:8500

NODE_ENV=development
PORT=3004

DATABASE_URL=postgresql://user:password@localhost:5435/course_db

RABBITMQ_URL=amqp://localhost:5672
